@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0!important;
}
@layer components {

    .btn-primary {
        @apply  bg-primary text-white py-2 px-3 mt-5 text-sm md:text-lg rounded-md hover:bg-orange-500 ;
    }
    .btn-secondary {
        @apply inline-block  bg-transparent  border border-primary py-1 px-4 text-xs md:text-sm rounded-md hover:bg-orange-500  text-white ;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutTop {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideOutBottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Apply the animations */
.slide-in-top {
    animation: slideInTop 0.5s ease-out forwards;
}

.slide-in-bottom {
    animation: slideInBottom 0.5s ease-out forwards;
}

.slide-out-top {
    animation: slideOutTop 0.5s ease-in forwards;
}

.slide-out-bottom {
    animation: slideOutBottom 0.5s ease-in forwards;
}
