@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0!important;
}
@layer components {

    .btn-primary {
        @apply  bg-primary text-white py-2 px-3 mt-5 text-sm md:text-lg rounded-md hover:bg-orange-500 ;
    }
    .btn-secondary {
        @apply inline-block  bg-transparent  border border-primary py-1 px-4 text-xs md:text-sm rounded-md hover:bg-orange-500  text-white ;
    }
}

.video-container img {
    @apply rounded-lg;
}

.chat-container {
    @apply flex flex-col  rounded-lg space-y-4;
}

.chat-messages {
    background: rgb(193 132 35 / 2%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(193, 132, 35, 0.3);
    @apply flex-grow space-y-2 overflow-y-auto;
}

.chat-messages .message {
    @apply p-2 rounded-md;
}





/*.chat-input button {*/
/*    @apply p-2 bg-blue-600 text-white rounded-r-lg;*/
/*}*/

/*.stop-button {*/
/*    @apply p-2 bg-red-600 text-white rounded-lg;*/
/*}*/
.app-border{
    border: 3px solid rgba(237, 127, 57, 0.25);
}
